#include <windows.h>
#include <commctrl.h>
#include <richedit.h>

#include "resource.h"
#include "rconfig.h"
#include "app.h"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

//
// Accelerator resources
//
IDA_MAIN ACCELERATORS
BEGIN
	"A", IDM_SELECT_ALL, CONTROL, VIRTKEY, NOINVERT
	"C", IDM_COPY, CONTROL, VIRTKEY, NOINVERT
	"E", IDM_EXPLORE_FILE, CONTROL, VIRTKEY, NOINVERT
	"F", IDM_FIND, CONTROL, VIRTKEY, NOINVERT
	"S", IDM_SAVE_HTML, CONTROL, VIRTKEY, NOINVERT
	VK_TAB, IDM_TAB_NEXT, VIRTKEY, CONTROL, NOINVERT
	VK_TAB, IDM_TAB_PREV, VIRTKEY, SHIFT, CONTROL, NOINVERT
	VK_RETURN, IDM_EXPLORE_FILE, VIRTKEY, NOINVERT
	VK_DELETE, IDM_DELETE, VIRTKEY, NOINVERT
	VK_F1, IDM_ABOUT, VIRTKEY, NOINVERT
	VK_F2, IDM_SETTINGS, VIRTKEY, NOINVERT
	VK_F5, IDM_REFRESH, VIRTKEY, NOINVERT
	VK_F11, IDM_ZOOM, VIRTKEY, NOINVERT
END

//
// Menu resources
//
IDM_MAIN MENU
BEGIN
	POPUP " "
	BEGIN
		MENUITEM " ", IDM_SETTINGS
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_SAVE_HTML
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_EXIT
	END
	POPUP " "
	BEGIN
		MENUITEM " ", IDM_ALWAYSONTOP_CHK
		MENUITEM " ", IDM_DARKMODE_CHK
		MENUITEM " ", IDM_USECERTIFICATES_CHK
		MENUITEM " ", IDM_SKIPUACWARNING_CHK
		MENUITEM " ", IDM_CHECKUPDATES_CHK
		MENUITEM SEPARATOR
		POPUP " "
		BEGIN
			MENUITEM " ", IDX_LANGUAGE
		END
	END
	POPUP " "
	BEGIN
		MENUITEM " ", IDM_WEBSITE
		MENUITEM " ", IDM_CHECKUPDATES
		MENUITEM " ", IDM_ABOUT
	END
END

IDM_LISTVIEW MENU
{
	POPUP ""
	{
		MENUITEM " ", IDM_EXPLORE_FILE
		MENUITEM " ", IDM_EXPLORE_REGISTRY
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_DELETE
		MENUITEM " ", IDM_REFRESH
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_COPY
		MENUITEM " ", IDM_COPY_VALUE
	}
}

//
// Dialog resources
//
IDD_MAIN DIALOGEX 0, 0, 548, 296
STYLE WS_OVERLAPPEDWINDOW | WS_CLIPCHILDREN | WS_CLIPSIBLINGS | DS_SHELLFONT | DS_MODALFRAME | NOT WS_VISIBLE
CAPTION APP_NAME
MENU IDM_MAIN
FONT 8, "Ms Shell Dlg"
BEGIN
	CONTROL			"", IDC_REBAR, REBARCLASSNAME, WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | CCS_NODIVIDER | CCS_TOP | RBS_VARHEIGHT | RBS_AUTOSIZE, 0, 0, 0, 0

	CONTROL			"", IDC_TAB, WC_TABCONTROL, WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | TCS_HOTTRACK | TCS_TOOLTIPS | TCS_MULTILINE | TCS_FOCUSONBUTTONDOWN, 0, 0, 548, 282

	CONTROL			"", IDC_ALL, WC_LISTVIEW, WS_CHILD | WS_VISIBLE | WS_TABSTOP | LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_AUTOARRANGE, 0, 0, 548, 282
	CONTROL			"", IDC_LOGON, WC_LISTVIEW, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP | LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_AUTOARRANGE, 0, 0, 548, 282
	CONTROL			"", IDC_PENDINGFILERENAME, WC_LISTVIEW, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP | LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_AUTOARRANGE, 0, 0, 548, 282
	CONTROL			"", IDC_KNOWNDLLS, WC_LISTVIEW, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP | LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_AUTOARRANGE, 0, 0, 548, 282
	CONTROL			"", IDC_IMAGEHIJACKS, WC_LISTVIEW, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP | LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_AUTOARRANGE, 0, 0, 548, 282
	CONTROL			"", IDC_CODECS, WC_LISTVIEW, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP | LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_AUTOARRANGE, 0, 0, 548, 282
	CONTROL			"", IDC_WEB, WC_LISTVIEW, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP | LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_AUTOARRANGE, 0, 0, 548, 282
	CONTROL			"", IDC_TASKSCHEDULER, WC_LISTVIEW, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP | LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_AUTOARRANGE, 0, 0, 548, 282
	CONTROL			"", IDC_SERVICES, WC_LISTVIEW, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP | LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_AUTOARRANGE, 0, 0, 548, 282
	CONTROL			"", IDC_DRIVERS, WC_LISTVIEW, WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP | LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_AUTOARRANGE, 0, 0, 548, 282

	CONTROL			"", IDC_STATUSBAR, STATUSCLASSNAME, SBARS_TOOLTIPS, 0, 0, 0, 0
END

IDD_ENTRIES DIALOGEX 0, 0, 294, 148
STYLE WS_CHILD | WS_SYSMENU | WS_TABSTOP | WS_GROUP | DS_SHELLFONT | DS_CONTROL
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
BEGIN
	GROUPBOX		"", IDC_ALL, 6, 4, 278, 126, WS_GROUP

	AUTOCHECKBOX	"", IDC_IMAGEHIJACKS_CHK, 14, 16, 264, 12
	AUTOCHECKBOX	"", IDC_WEB_CHK, 14, 28, 264, 12
	AUTOCHECKBOX	"", IDC_PENDINGFILERENAME_CHK, 14, 40, 264, 12
	AUTOCHECKBOX	"", IDC_CODECS_CHK, 14, 52, 264, 12
	AUTOCHECKBOX	"", IDC_KNOWNDLLS_CHK, 14, 64, 264, 12
	AUTOCHECKBOX	"", IDC_TASKSCHEDULER_CHK, 14, 76, 264, 12
	AUTOCHECKBOX	"", IDC_SERVICES_CHK, 14, 88, 264, 12
	AUTOCHECKBOX	"", IDC_DRIVERS_CHK, 14, 100, 264, 12
END

//
// String resources
//
STRINGTABLE
BEGIN
	IDS_UPDATE_NO "No updates available."
	IDS_UPDATE_YES "Update available, download and install them?"
	IDS_UPDATE_DOWNLOAD "Downloading update..."
	IDS_UPDATE_DONE "Downloading update finished."
	IDS_UPDATE_ERROR "Update server connection error."
	IDS_UPDATE_INIT "Checking for new releases..."
	IDS_UPDATE_INSTALL "Update available, do you want to install them?"
	IDS_UPDATE_SPEED "Speed"

	IDS_RESET "Reset"
	IDS_SAVE "Save"
	IDS_CLOSE "Close"

	IDS_FILE "File"
	IDS_VIEW "View"
	IDS_SETTINGS "Settings"
	IDS_RUNASADMIN "Run as admin"
	IDS_SAVE_HTML "Save as HTML"
	IDS_EXIT "Exit"
	IDS_FIND "Find"
	IDS_REFRESH "Refresh"
	IDS_LANGUAGE "Language"
	IDS_HELP "Help"
	IDS_WEBSITE "Website"
	IDS_CHECKUPDATES "Check for updates"
	IDS_DONATE "Give thanks!"
	IDS_ABOUT "About"

	IDS_EXPLORE_FILE "Explore file"
	IDS_EXPLORE_REGISTRY "Explore registry"
	IDS_DELETE "Delete"
	IDS_COPY "Copy"

	IDS_ENTRIES "Entries"

	IDS_NAME "Name"
	IDS_VALUE "Value"

	IDS_ALL "All"
	IDS_LOGON "Logon"
	IDS_WEB "Web entries"
	IDS_PENDINGFILERENAME "Pending file rename operations"
	IDS_CODECS "Codecs"
	IDS_KNOWNDLLS "Known dlls"
	IDS_TASKSCHEDULER "Task scheduler"
	IDS_SERVICES "Services"
	IDS_DRIVERS "Drivers"
	IDS_IMAGEHIJACKS "Image Hijacks"

	IDS_FILEPATH "Path"

	IDS_SIGNATURE "Signature"

	IDS_ALWAYSONTOP_CHK "Always on top"
	IDS_DARKMODE_CHK "Use dark theme"
	IDS_USECERTIFICATES_CHK "Check apps for digital signatures"
	IDS_SKIPUACWARNING_CHK "Skip ""User Account Control"" prompt warning"
	IDS_CHECKUPDATES_CHK "Periodically check for updates (recommended)"

	IDS_QUESTION_ADMIN "To remove this value, required admin rights, give it?"
	IDS_QUESTION_DELETE "Delete selected item(s)?"

	IDS_STATUS_TOTAL "Total items"
	IDS_STATUS_LOADING "Loading..."
	IDS_STATUS_EMPTY "There are no items."
	IDS_STATUS_FINISH "Finished in"
END

//
// PNG resources
//
IDP_SEARCH_LIGHT	PNG		"res\\search_light.png"
IDP_SEARCH_DARK		PNG		"res\\search_dark.png"
IDP_DELETE			PNG		"res\\delete.png"
IDP_REFRESH			PNG		"res\\arrow_refresh.png"
IDP_DONATE			PNG		"res\\paypal_fulllogo.png"

//
// Icon resources
//
IDI_MAIN			ICON		"res\\100.ico"
IDI_EMPTY			ICON		"res\\101.ico"
IDI_WAIT			ICON		"res\\102.ico"
IDI_FULL			ICON		"res\\103.ico"

//
// Manifest resource
//
1			RT_MANIFEST		"res\\manifest.xml"

//
// Version Information resources
//
VS_VERSION_INFO VERSIONINFO
FILEVERSION		APP_VERSION_RES
PRODUCTVERSION	APP_VERSION_RES
FILEOS			VOS__WINDOWS32
FILETYPE		VFT_APP
FILESUBTYPE		VFT2_UNKNOWN
FILEFLAGSMASK	0x00000000
FILEFLAGS		VS_FF_PATCHED | VS_FF_PRERELEASE
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "Comments", APP_COMMENT
			VALUE "CompanyName", APP_AUTHOR
			VALUE "FileDescription", APP_NAME
			VALUE "FileVersion", APP_VERSION
			VALUE "InternalName", APP_NAME_SHORT
			VALUE "LegalCopyright", APP_COPYRIGHT
			VALUE "OriginalFilename", APP_NAME_SHORT ".exe"
			VALUE "ProductName", APP_NAME
			VALUE "ProductVersion", APP_VERSION
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1252
	END
END
